* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.my-container{
    padding: 0px !important;
    min-height: 100vh;
    overflow: hidden;
}

/*  ..........................front animation................................. */

.start-animation{
    height: 100vh;
    width: 100%;
    position: absolute;
    background-color:#5E0006;
    z-index: 999;
    animation: back 3s linear forwards;
}
.start-ani-logo{
    height: 100px;
    width: 100px;
    animation-name: logo;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    /* animation-delay: 1s; */

}
@keyframes back {
    0%{
        opacity: 1;
    }
     50%{
        opacity: 0.5;
    }
     100%{
        opacity: 0;
    }
    
}
@keyframes logo {
    0%{
        scale: 1;
        opacity: 1;
    }
     50%{
        scale: 2;
        opacity: 0.5;
    }
     100%{
        scale: 5;
        opacity: 0;
    }

    
}


/*  ..........................navbar................................. */
nav{
    background-color: #5E0006 !important;
    padding: 0px 60px !important;
    justify-content: space-between;
    position: fixed !important;
    width: 100%;
    top: 0px;
    z-index: 989;
    transform-style: preserve-3d;
}
.nav-a{
    position:relative;
    color:#fff;
    text-decoration:none;
    margin:20px;
    padding:10px;
    transition:0.3s;
}
.dec{
    text-decoration: none;
    color: white;
}
.nav-a:hover{
    color:#FCBF49 !important;
}
.nav-a::before{
    content:"";
    position:absolute;
    left:50%;
    bottom:0;
    width:0%;
    height:2px;
    background:#00ffff;
    transition:0.4s;
    transform:translateX(-50%);
}

.nav-a:hover::before{
    width:100%!important;
}


.logo-akm{
    height: 65px;
    width: 65px;
    transition: all 1s;
}
.logo-akm:hover{
    transform: rotateY(180deg);
}
.nav-option{
    color: white;
    font-size: 16px;   
}
.nav-option a{
    margin-left: 30px;
    border-bottom: 2px solid #FCBF49;
    padding: 5px 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.5s;
    
    
}
.nav-option a:hover{
    border-bottom: 2px solid ;
    transform: scale(1.5);
    color: #00ffff;
    animation: navbar 1s linear forwards;
}
.our-drop{
    text-align: center;
}
.nav-bar-label{
    display: none;
    border: 2px solid transparent;
    padding: 0px 5px;
    color: white;
    border-radius: 5px;
    font-size: 20px;
}
.nav-bar-input{
    display: none;
}

 .resp-nav a{
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid grey;
    padding: 3px 0px;
    cursor: pointer; 
} 

 .own-btn{
    position:relative;
    padding:8px 10px;
    font-size:13px;
    font-weight:bold;
    letter-spacing:2px;
    color:white;
    text-decoration:none;
    border-radius:10px;
    border: 1px solid #ac8e06;
    overflow:hidden; 
    background:linear-gradient(135deg,#e59616,#d65252,#99c908);
    background-size:300% 300%;
    box-shadow:0 0 15px rgba(255, 136, 0, 0.5),0 0 30px rgba(175, 209, 6, 0.4);
    transition:0.4s ease;
    animation:loginbutton 6s ease infinite;
}
.own-btn::before{
    content:"";
    position:absolute;
    top:0;
    left:-100%;
    width:100%;
    height:100%;
    background:linear-gradient(120deg, transparent, rgba(255,255,255,.7), transparent);
    transition:0.6s;
    
}
.own-btn:hover{
    box-shadow:0 0 25px rgba(214, 210, 12, 0.8), 0 0 50px rgba(255, 149, 0, 0.6);
}
.own-btn:hover::before{
    left:100%;
}
.own-btn:active{
    transform:scale(.95);
}
.own-btn:active{
    transform:scale(.95);
} 

@keyframes loginbutton{

    0%{
        background-position:0% 50%;
    }

    50%{
        background-position:100% 50%;
    }

    100%{
        background-position:0% 50%;
    }
}

/*  ..........................section................................. */
section{
    height: 520px;
    margin-top:65px;
    text-align:center;
    background-image: url("./Assets/immmg.jpeg");
    background-size: 100% 100%;
}
.gradient-1{
    height: 100%;
    background-image: linear-gradient(to top,  rgba(136, 2, 2, 0.288), #5E0006);
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align:center;
   
}
.since{
    display: inline;
    border: 1px solid gold;
    border-radius: 20px;
    background-color:#5E0006;
    color: #FCBF49;
    padding: 2px 30px;
    letter-spacing: 4px;
    font-size: 13px;
    margin-top: 70px;
    
}
.head-line{
    font-size: 60px;
    overflow: hidden;
    font-family: "Port Lligat Sans", sans-serif;
    width: 80%;
    /* border-right: 3px solid white; */
    /* background-image: linear-gradient(orange, #ff5100, yellow ); */
    font-weight: 800;
    color: white;
    animation:typing 6s, blink 0.3s, ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}


@keyframes blink{
    50%{border-color:transparent;}
}
.specify{
    font-size: 25px;
    font-weight: 600;
    width: 75%;
    color: white;
    font-family: "Port Lligat Sans", sans-serif;

}
.sec-btn1{
    border: none;
    position: relative;
    overflow: hidden;
    background-color: #FCBF49;
    padding: 10px 50px;
    font-weight: 600;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 20px;
    cursor: pointer;
    transition: transform 1s;
}
.sec-btn1::before{
    content:'';
    position: absolute;
    height: 0;
    width: 0;
    border-radius: 50%;
    background:rgba(255,255,255,0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.06s; 
}
.sec-btn1:hover::before{
    width: 300px;
    height: 300px;
}
.sec-btn1:hover{
    transform: scale(1.1);
}

.sec-btn2{
    border: none;
    border: 2px solid white;
    background-color: transparent;
    padding:8px 40px ;
    font-weight: 700;
    border-radius: 10px;
    color:white;
    transition: all 1s;
}
.sec-btn2:hover{
    transform: scale(1.1);

}
/*  ..........................aside................................. */
aside{
    height: 350px;
    padding: 20px 50px;
    padding-top: 40px;
}
.ordering{
    height: 90%;
    width: 100%;
    box-shadow: 0px 0px 3px lightgrey;
    border-radius: 20px;
    padding: 30px;
    position: relative;

}
.ordering h3{
    font-weight: 600;
    
}
.ordering p{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 40px;
}
.home-delivery{
    width: 45%;
    height: 100px;
    background-color:#FFF2D0;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 2px lightgrey;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 30px;
    
}
.r-angle-arrow{
   font-size: 25px;
   margin-top: 10px;
}
.deli-home{
    width: 90px;
    height: 90px;
    font-size: 35px;
    background-color: white;
    padding: 25px;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    left: 20%;
    box-shadow: 0px 0px 8px 2px lightgrey;
    color: #670707;
}
.home-deli-2{
    gap: 50px;
    margin-left: 30px;
}
.pickup{
    width: 90px;
    height: 90px;
    font-size: 35px;
    background-color: white;
    padding: 25px;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    right: 25%;
    box-shadow: 0px 0px 8px 2px lightgrey;
    color: #670707;
}
/*  ..........................Legacy................................. */
.legacy{
    height: 500px;
    background-color: #670707;
    padding: 30px;padding-left: 50px;
    position: relative;
    overflow: hidden;
}

.legacy h1{
    color: white;
    font-family: "Changa One", sans-serif;
    margin: 0px;
    font-size: 40px; 
}
.legacy h2{
    font-family: "Lobster Two", sans-serif;
    color:  #FCBF49;
    font-size: 50px;
}
.legacy-p{
    color: white;
    font-size: 20px;
    width: 45%;
    font-family: "Port Lligat Sans", sans-serif;
}
.born-year h1{
    color:  #FCBF49;
    width: 40%;
    
}
.born-year p{
    font-size: 20px;
    color: white;
    font-family: "Port Lligat Sans", sans-serif;
}
.legacy-line{
    height: 60px;
    width: 3px;
    margin-top: 12px;
    margin-right: 15px;
    background-color: white;
}
.story{
    border-bottom: 2px solid #FCBF49;
}
.hover-image img{
    height: 150px;
    width: 150px;
    opacity: 0;
    transition: all 0.5s;
}
.hover-image img:hover{
    opacity: 1;


}
.photo-1{
    position: absolute;
    top: 10%;
    right: 40%;
}
.photo-2{
    position: absolute;
    top: 10%;
    right: 25%;
}
.photo-3{
    position: absolute;
    top: 10%;
    right: 10%;
}
.photo-4{
    position: absolute;
    top: 45%;
    right: 40%;
}
.photo-5{
    position: absolute;
    top: 45%;
    right: 25%;
}
.photo-6{
    position: absolute;
    top: 45%;
    right: 10%;
}

/*  ..........................signature menu................................. */

.signature-menu{
    height: 850px;
    text-align: center;
    padding: 50px 100px;
    position: relative;
    background-color: white;
}
.signature-menu h4{
    color: orange;
}
.signature-menu h1{
    font-family: "Lobster Two", sans-serif;
    font-weight: 700;
    font-size: 40px;
}
.background-cook-1{
    opacity: 0.2;
    height: 300px;
    width: 400px;
    position: absolute;
    left: -100px;
    bottom: 20px;
    transform: rotateY(180deg);
}
.background-cook-2{
    opacity: 0.4;
    height: 300px;
    width: 400px;
    position: absolute;
    top:-1%;
    right: -7%;
    transform: rotateY(180deg);

}
.menu-1{
    height: 270px;
    width: 230px;
    box-shadow: 0px 0px 5px lightgrey;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    font-family: "Port Lligat Sans", sans-serif;
    color: #670707;
    transition: all 1s;

}
.menu-1:hover{
    transform: scale(1.1);
}
.menu-1 img{
    width: 100%;
    height: 85%;
    border-radius: 10px;
    margin-bottom: 13px;
}
.menu-1 b{
    margin-top: 20px;
}
.dish-view{
    border: none;
    padding: 8px 40px;
    background-color: #5E0006;
    color: #FCBF49;
    border-radius: 10px;
    font-weight: 800;
    margin-top: 40px;
    transition: all 1s;
}
.dish-view:hover{
    transform: scale(1.1);
}
.dish-view:active{
    transform: translateY(15px);
    transform: scale(0.9);
}

/*  ..........................Article................................. */
article{
    min-height: 500px;
    width: 100%;
    padding:20px 80px;
    position: relative;
    background-color: transparent;
}
article h1{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 60px;
    font-family: "Lobster Two", sans-serif;

}
.artical-p{
    color: orange;
    text-align: center;
    font-size: 20px;
}
.best-seller{
    height: 300px;
    width: 250px;
    border-radius: 10px;
    text-align: center;
    padding-top: 20px;
}
.best-seller i{
    height: 80px;
    width: 80px;
    background-color: #FFF2D0;
    padding: 20px;
    border-radius: 50%;
    font-size: 40px;
    margin-bottom: 10px;
    color: #670707;
}
.best-seller h3{
    font-size: 20px;
    color:#670707;
}
.best-seller p{
    color: #670707;
}
.girl-img{
    height: 300px;
    width: 300px;
    position: absolute;
    right: 8%;
    bottom: 10%;
    opacity: 0.3;
}
.article-btn{
    border: none;
    color: #FCBF49;
    background-color: #670707;
    padding: 8px 20px;
    border-radius: 7px;
    font-weight: 600;
    display: block;
}


/*  ..........................Main-review................................. */

main{
    min-height: 470px;
    background-color:#FFF8EC;
    text-align: center;
    padding: 50px;
    margin-top: 30px;
}
.press{
    color: #FCBF49;
    font-weight: 600;
    margin: 0px;
    margin-bottom: 10px;
}
.press-legacy{
      font-family: "Lobster Two", sans-serif;
      font-weight: 600;
}
.press-names{
    color: grey;
    margin-top: 5%;
    width: 80%;
    margin-left: 10%;

}
.review{
    height: 40%;
    width: 100%;
    background-color:white;
    border-radius: 20px;
    text-align: start;
    padding: 30px;
    margin-top: 30px;
}
.review i{
    font-size: 30px;
    color: #670707;
}
.review p{
    display: inline;
    font-size: 17px;
}
.review h6{
    font-size: 17px;
    color: #670707;
    margin-top: 10px;
    display: inline;
    
}
.press-right-line{
    height: 2px;
    width: 20px;
    background-color: #670707;
    display: inline;
}

/*  ..........................customer................................. */
.customer{
    min-height: 500px ;
    /* background-color:#670707; */
    background-color: #5E0006;
    text-align: center;
    padding: 30px;
    color: white;
    /* overflow: hidden; */
    overflow-x: hidden;
    
}
.scroll-animation-1{
    animation-name: review;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.dif-card{
     background-image: linear-gradient(to right, rgb(220, 202, 202), white, white);

}
.scroll-animation-1:hover{
    cursor:pointer;
}
@keyframes review {
    0%{
        transform: translateX(250px);
    }
     
    50%{
        transform: translateX(1500px);
    }
    
     100%{
        transform: translateX(2750px);
    }
    
}
.head-customer{
    font-family: "Lobster Two", sans-serif;
}
.customer-p{
    font-size: 15px;
}
 .dif-card{
    height: 350px;
    min-width: 250px;
    background-color: white;
    border-radius: 20px 5px;
    text-align: start;
    padding: 15px;
    /* position: relative; */
    transition: all 1s;

} 
.dif-card:hover{
    transform: scale(1.1);
}
.dif-card img{
    height: 60px;
    width: 110px;
    position: absolute;
    top: -5px;
}
.dif-card p{
    font-size: 14px;
    color: black;
    margin-top: 40px;
    margin-bottom: 40px;
}
.dif-card b{
    font-size: 17px;
    color: #5E0006;
    font-weight: 600;
}
.locat-1{
    font-weight: 400;
    color:#202940;
}

/*  ..........................footer................................. */
footer{
    height: 280px;
    background-color: #5E0006;
    position: relative;
    padding: 30px;
    border-top: 1px solid #f0c507;

}
.footer-1{
    height: 195px;
    flex-wrap: wrap;
    margin-left: 120px;
}
.usefull{
    color: white;
    cursor: pointer;

}
.usefull p:hover{
    color: blue;
}
.usefull p{
    margin-bottom: 5px;
    font-size: 14px;
}
.usefull b{
    color: #f0c507;
    display: block;
    margin-bottom: 10px;
}
.payment{
    margin-left: 70px;
    width: 15%;
    text-align: center;
    padding-bottom: 5px;
    cursor: pointer;

}
.payment b{
    color: #f0c507;
    display: block;
    margin-bottom: 10px;
}
.payment p{
    color: rgb(6, 138, 6);
    display: inline;
    width: max-content;
    font-size: 13px;
    font-weight: 600;
    padding: 6px 5px;
    background-color: white;
    margin-right: 5px;
}
.pay-visa{
    height: 30px;
    width: 55px;
    margin-bottom: 8px;
    margin-right: 5px;
}
.venue{
    margin-left: 70px;
    position: relative;

}
.venue i{
    color: white;
    position: absolute;
    top: 47px;
}
.venue b{
    color: #f0c507;
    display: block;
    margin-bottom: 5px;
}
.ark{
    display: inline;
    font-size: 14px;
    color: white;
     margin-left: 24px;
}
.ark-2{

    color: white;
    font-size: 14px;
    margin-left: 24px;
    margin-bottom: 15px;
}
.gmap{
    width: 150px;
    height: 70px;
}
.contact{
    margin-left: 70px;


}
.contact b{
    color: #f0c507;
    display: block;
    margin-bottom: 10px;
}
.contact p{
    display: inline;
    color: white;
}
.call{
    color: white;
}
.social{
    font-size: 30px;
    margin-top: 20px;
    color: white;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}
.fb{
    background-image: linear-gradient(rgb(55, 0, 255), rgb(118, 187, 247));
}
.wapp{
    background-image: linear-gradient(rgb(5, 134, 31), rgb(215, 237, 217));
}
.twit{
    background-image: linear-gradient(rgb(62, 3, 91), rgb(122, 188, 251));
}
.insta{
    background-image: linear-gradient(rgb(238, 60, 208), rgb(185, 27, 253));
}

.footer-2{
    border-top: 1px solid #f0c507;
    display: flex;
    color: #f0c507;
    text-align: center;
    justify-content: center;
    height: 45px;

}
.footer-2 p{
    top: 10px;
    cursor: pointer;
    font-size: 13px;
    padding: 0px 30px;
    margin-top: 12px;
    border-right: 1px solid yellow;
}
.loyal{
    border-right: unset !important;
}




                    /*  .............Media query.................. */

@media only screen and (min-width:300px) and (max-width:350px) {

    /*  ..........................nav and section................................. */

    .since{
        margin-top: 30px;
    }

    /*  ..........................aside................................. */

}
@media only screen and (min-width:300px) and (max-width:500px) {

    /*  ..........................nav and section................................. */
    .nav-option a{
        display: none;
    }
    .own-btn{
    position: absolute;
    padding: 3px  10px;
    right: 22%;
    top: 24px;
    font-size: 10px;
    font-weight: 700;
    }

    .nav-bar-label{
        display: revert;
        color: white;
        position: absolute;
        right: 10%;
        top: 20px;
    }
    .since{
        font-size: 9px;
        margin-top: 40px;
        padding: 4px 15px;
        letter-spacing: 2px;
    
    }
    .head-line{
        font-size: 40px;
    }
    .specify{
        font-size: 15px;
    }
    .sec-btn1{
    padding: 5px 30px;
    font-weight: 500;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 1px;
    font-size: 13px;
}
.sec-btn2{
    padding:3px 20px ;
    font-weight: 500;
    border-radius: 10px;
    font-size: 13px;
    display: unset;
}

/*  ..........................aside................................. */
    .ordering{
        padding: 10px;
    }
    .ordering h3{
    font-weight: 800;
    font-size: 15px;
    }
    .ordering p{
        font-size: 14px;
    }
    .deli-home{
        font-size: 20px;
        padding: 12px;
        height: 50px;
        width: 50px;
        top: 35%;
        left: 25%;
    }
    .pickup{
        height: 50px;
        width: 50px;
        padding: 14px;
        font-size:20px;
        top: 35%;
        right:20% ;
    }
    .home-deli-2{
    gap: 10px;
    }
    .home-delivery{
    width: 45%;
    height: 70px;
    padding-top: 40px;
    padding-right: 10px;
    }
    .r-angle-arrow{
   font-size: 18px;
   margin-top: 3px;
    }


}

@media only screen and (min-width:500px) and (max-width:700px) {

    /*  ..........................nav and section................................. */
    .nav-option a{
        display: none;

    }
     .own-btn{
    position: absolute;
    padding: 5px  14px;
    right: 17%;
    top: 22px;
    font-size: 10px;
    }
    .nav-bar-label{
        display: block;
        color: white;
        position: absolute;
        right: 10%;
        top: 20px;
    }
    .since{
        font-size: 12px;
        margin-top: 40px;
        padding: 4px 15px;
        letter-spacing: 3px;
    }
    .head-line{
        font-size: 45px;
    }
    .specify{
        font-size: 15px;
        width: 60%;
    }
     .sec-btn1{
    padding: 8px 40px;
    font-weight: 600;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 1px;
    font-size: 16px;
    }
.sec-btn2{
    padding:6px 30px ;
    font-weight: 600;
    border-radius: 10px;
    font-size: 16px;
    display: revert;
    }

    /*  ..........................aside................................. */

}
@media only screen and (min-width:700px) and (max-width:900px) {

    /*  ..........................nav and section................................. */
    .nav-option a{
        display: none;
    }

    .own-btn{
    position: absolute;
    padding: 7px  17px;
    right: 15%;
    top: 20px;
    font-size: 10px;
    }
    .nav-bar-label{
        display: block;
        color: white;
        position: absolute;
        right: 10%;
        top: 20px;
    }
    .head-line{
        font-size: 50px;
    }
    .since{
        font-size: 13px;
        margin-top: 30px;
    }

    /*  ..........................aside................................. */

}
